# Node Modules
node_modules/

# Build Output
dist/
build/

# Cache Directories
.cache/

# Webpack Specific Files
#webpack.config.js
#webpack.config.*.js
#webpack.cache/

# Logs
*.log
*.lock

#VS Code files
.vscode/
