/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
    10. Create a root stacking context
  */
#root,
#__next {
  isolation: isolate;
}

:root{
  --font-color: #333333;
  --font-size: 20px;
}

nav *{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 600;
}

nav{
  display: flex;
  justify-content: center;
  align-items: center;
  position:relative;
}

nav .nav-item{
  padding:0 20px;
  font-size: var(--font-size);
}

.submenu{
  display: none;
  position:absolute;
  background: #f8f8f8;
  box-shadow: 3px 3px 7px -1px rgb(0 0 0 / 40%);
  border-radius: 9px;
}

.submenu.show{
  display:block;
}

.submenu .child-nav-item{
  padding: 5px 10px;
}

.submenu.grandchildren {
  position: absolute;
  left: 135px;
  top: 0;
}

.submenu.grandchildren .grandchild-nav-item {
  padding: 5px 10px;
}

.submenu.children .has-child-menu:hover .submenu.grandchildren {
  display: block;
}

.nav-item.has-child-menu:hover .submenu.children {
  display: block;
}

.submenu.mega.show {
  display: flex;
  justify-content: space-evenly;
}

.submenu.mega {
  width: 100%;
  margin: 0 auto;
  left: 0;
}

.nav-item.has-child-menu:hover .submenu.mega{
  display:flex;
  justify-content: space-evenly;
}